/* You can add global styles to this file, and also import other style files */
html {
  background: #555;
  color: #eee;
  height: 100vh;
}

body {
  height: inherit;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
